<footer id="footer" class="footer">
    <div class="container">
        <div class="footer_content">
            <div class="footer_content_logo">
                <img src="./images/white_logo.webp" alt="logo">
            </div>
            <div class="footer_content_menu">
                <ul>
                    <li><a href="#">Main</a></li>
                    <li><a href="#">Servises</a></li>
                    <li><a href="#">Case studies</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footer_social">
                <p>Stay Connected</p>
                <div class="footer_social_links_wrap">
                    <a href="#" target="_blank" class="footer_social_link">
                        <img src="./images/facebook.svg" alt="facebook">
                    </a>
                    <a href="#" target="_blank" class="footer_social_link">
                        <img src="./images/instagram.svg" alt="instagram">
                    </a>
                    <a href="#" target="_blank" class="footer_social_link">
                        <img src="./images/linkedin.svg" alt="linkedin">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>