<header id="header" class="header">
    <div class="container">
        <div class="header_content">
            <div class="header_content_logo">
                <img src="./images/logo.webp" alt="logo">
            </div>
            <div class="header_content_burger">
                <div class="header_content_menu">
                    <ul>
                        <li><a href="#">Main</a></li>
                        <li><a href="#">Servises</a></li>
                        <li><a href="#">Case studies</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <button class="btn primary">Contact us</button>
            </div>
            <button aria-label="burger" class="header_burger">
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>